/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

/*
Colors used

white (Isabelline): #EFECE6
cream (Bone): #DFDACE
dark olive green (Zanadu): #737967
light green (Laurel green): #BDC4AB
bright olive green (Artichoke): #8C9970
 */

 * {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  background-color: #f4f4f2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  color: #737967;
  height: 100%;
  min-height: 100vh;
  padding: 15px; /* Adds a 10px inner spacing to all sides*/
  margin: 10px; /* Adds a 10px outer spacing to all sides*/
  border: 1px; /* Attributes describe: thickness, type, color*/
  position:relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 700;
}

h1 {

  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}


a:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
} 




.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list__item--active {
  text-decoration: none;
   font-weight: bold;
    font-size: 22px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

a {
  color: #6C7755;
}

a:visited {
  color: #414833;
}
a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

a:active {
  color: #6C7755;
}


.index-buttons{
  padding: 25px; 
  margin: 10px;
  border: 1px;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #BDC4AB;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #BDC4AB;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
  font-size:18px
}

.button__secondary {
    border: none;
    font-family: inherit;
    background-color: #BDC4AB;
    color: #000;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
}

li, ul {
  margin: 0
}


.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-container {
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* start grid fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
 }
 /* end grid fallback */

 @supports (display: grid) {
  .project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 20px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
  .project-list > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .project-list > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .project-list > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .project-list > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .project-list > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .project-list > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }

  .project-list__item {
  background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655
  }
  50% {
    fill: #fcffad
  }
  100% {
    fill: #f76414
  }
}

@keyframes color-change {
  0% {
    fill: #edc655
  }
  50% {
    fill: #fcffad
  }
  100% {
    fill: #f76414
  }
}

.sun {
  -webkit-animation: 5s color-change infinite alternate linear;
          animation: 5s color-change infinite alternate linear;
}

@-webkit-keyframes door-color-change {
  0% {
    fill: white;
  }
  50% {
    fill: red;
  }
  100% {
    fill: blue;
  }
}

@keyframes door-color-change {
  0% {
    fill: white;
  }
  50% {
    fill: red;
  }
  100% {
    fill: blue;
  }
}
.door {
  -webkit-animation: 4s door-color-change infinite alternate linear;
          animation: 4s door-color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-front {
  -webkit-animation: 20s cloud-move infinite alternate linear;
          animation: 20s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 20s cloud-move-reverse infinite alternate linear;
          animation: 20s cloud-move-reverse infinite alternate linear;
}

.amsterdam-svg {
  max-width: 100%;
  width: 80%;
  height: 80%;
}


/* keep this at very end of the file */
@media all and (max-width: 500px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .project-list {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }
 
  h1 {
    font-size: 22px;
  }
}